<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h3>Welcome To Search </h3><br><br>
    <div>
    <a href="/menu/">Back To Menu</a>

    </div>
    <div>
        <table>
            <tr>
                <th>Photos</th>
                <th>Movies</th>
                <th>Related Generes</th>
            </tr>
            <% movies.forEach(mov=>{%>
                
                <tr>
                    <td>
                        <img style="width: 40px; height: 40px;" src="<%= mov?.image? mov.image: '' %>">
                    </td>
                    <td>
                        <a class="linkBlack" href="/menu/searchMovies/search/<%= mov.id %>/">
                            <%= mov.name? mov.name: '' %>
                        </a>

                    </td>
                    <td>
                        <ul>
                            <% mov.related.forEach(rel=>{ %>
                                <li>
                                   <a class="linkBlack" href="/menu/searchMovies/search/<%= rel.id %>/">
                                     <%= rel.name %>
                                     </a>
                                </li>
                                <% }) %>
                        </ul>
                    </td>
                <tr>

                    <% }) %>
        </table>
    </div>


</body>

</html>